.sesion {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sesion__logo {
    width: 40%;
}

.sesion__link {
    position: absolute;
    bottom: 15%;
    font-size: 2.75rem;
    font-weight: bold;
    color: #8c7c74;
    text-decoration: none;
    cursor: pointer;
    transition: 1s all;
}

.sesion__link:hover {
    color: #341404;
    font-size: 32px;
}

@media screen and (max-width:768px) {
    .sesion__logo {
        width: 80%;
    }

    .sesion__link {
        bottom: 25%;
    }
}