*Menu*/
:root{
    --cafe: #341404;
    --blanco:  #ffffff;
}
.botones{
    display: flex;
    justify-content: center;
    margin: 2rem;

}
.boton__opcion{
    margin-right: 2rem;
    padding: .7rem;
    font-size: 2rem;
    color: var(--cafe);
    border-radius: 2rem;
    cursor: pointer;
    transition: all .1s;
}

.boton__opcion:hover{
    background-color:#341404;
    color: #ffffff;
}

input[type="radio"] {
    display: none;
}

@media screen and (max-width:768px) {
    .botones{
        margin: 2.5rem;
    }
    .boton__opcion{
        margin: 0 auto;
    }
}


@media screen and (max-width:480px) {
    .botones{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .boton__opcion{
        margin: 0 auto;
    }
}

