.botones__carrito{
    display: flex;
    justify-content: center;
    margin: 2rem;
  }
  
  .boton__carrito{
    margin-right: 2rem;
    padding: 1rem;
    color: #341404;
    text-decoration: none;
    font-size: 2rem;
    transition: all .1s;
    cursor: pointer;
  
  }
  .boton__carrito:hover{
    color: #ffffff;
    background-color: #341404;
    border-radius: 2rem;
  }

  @media screen and (max-width:480px) {
    .botones__carrito{
      display: flex;
      flex-direction: column;
      align-items: center;  
    }
    .boton__carrito{
      justify-content: space-around;
      padding: 2re ;
      margin-top: 2rem;
      margin-right: 0;
    }
  }
