.head__carrito {
  text-align: center;
  background: url("/img/cafe.jpg") no-repeat center / cover;
  padding: 2.5rem 5rem 2.5rem 0;
}
.head__titulo {
color: #ad7f69;
font-size: 8rem;

}

@media screen and (max-width:480px) {
  .head__carrito{
    padding: 0 auto;
    padding-left: 2.5rem;
  }
  .head__titulo{
    font-size: 5rem;
  }
}
@media screen and (max-width:768px) {
  .head__titulo{
    font-size: 6rem;
    padding-left: 2.5rem;
  }
}